body {
    margin: 0%;
    width: 100%;
    height: auto;
    border-top: 10px solid #6c79a8;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: large;
}

.center {
    width: 50%;
    margin: 15px auto;
    float: center;
    padding-bottom: 5px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;     
}

.menu {
    margin-left: auto;    
}

.menu ul {
    list-style: none;
    padding: 0;
    float: right;
    margin-left: auto;
}

.menu ul li {
    padding-left: 15px;
    padding-top: 15px;
    display: inline-block;
    font-size: large;
    color: #6c79a8;
}

.capa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-inline-end: 25%;
    padding-inline-start: 25%;
    margin-top: 0px;    
    background-color: lightgray;
    align-items: right;
}

.text {
    font-size: 13pt ;
    text-align: justify;
}

.foot {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}